apiVersion: apps/v1
kind: Deployment
metadata:
  name: integration-service
  labels:
    app: integration-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: integration-service
  template:
    metadata:
      labels:
        app: integration-service
    spec:
      initContainers:
      - name: wait-for-postgres
        image: busybox:1.36
        command:
        - sh
        - -c
        - |
          until nc -z -w 2 postgres-service 5432; do
            echo "waiting for postgres-service:5432";
            sleep 2;
          done
      - name: wait-for-kafka
        image: busybox:1.36
        command:
        - sh
        - -c
        - |
          until nc -z -w 2 kafka-service 9092; do
            echo "waiting for kafka-service:9092";
            sleep 2;
          done
      containers:
      - name: integration-service
        image: integration-service:latest
        imagePullPolicy: Never
        env:
        - name: KAFKA_BROKER
          value: "kafka-service:9092"
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_DB
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "100m"
